:root{
    --header-height:50px;/*ヘッダーの高さ*/
    --gap-in-header:5px;/*ヘッダー内の余白*/
}

@font-face{
  font-family:"MSGothic";
  src:url("fonts/msgothic.ttc") format("truetype-collection");
  font-weight:normal;
  font-style:normal;
}

body{
  margin:0;
  font-family:"MSGothic",sans-serif;
}
